{% extends "../layout.html" %}
{% block content %}
    <br/>
    <div class="container">
    <h3>Books</h3><hr/>
<div class="d-flex justify-content-center" id ="status-loading" style="display: none;">
    
    <div id ="spinner-loading" class="fa-2x" style="display: none;">
      <i class="fas fa-circle-notch fa-spin"></i>
    </div>

</div>

    <div class="d-flex justify-content-between">
      <div>
    <!-- Left Options go here -->
      </div>
      <div>
    <button id="btn-upload" type="button" class="btn btn-secondary"><i class="fas fa-upload"></i> Upload </button>
      </div>
    </div>
<br/>

    {% include "./upload.html" %}

    {% include "./book.html" %}

    </div>



<link href="/stylesheets/books.css" rel="stylesheet">
<script src = "/javascripts/books.js" ></script>
{% endblock %}
