{% extends "layout.html" %}
{% block content %}
<div class="container">
<div class="jumbotron">
  <div class="d-flex justify-content-center"><p class="lead"><i class="fas fa-book"></i> Welcome to the Online Library!</p></div>
  <hr class="my-4">
  <div class="d-flex justify-content-center"><p><i>What would you like to do?</i></p></div> <br/>
    <div class="row justify-content-center">
        <div class="col-2"><button type="button" class="btn btn-secondary"><i class="fas fa-upload"></i> Upload </button></div>
        <div class="col-2"><button type="button" class="btn btn-secondary"><i class="fas fa-search"></i> Browse</button></div>
    </div>
  <p class="lead">
  </p>
</div>

</div>
{% endblock %}

